<div class="app">
    <div>
        {{message}}<br>
        Current emoji: {{emoji-parse selectedEmoji}}
        <br>
        {{emoji-picker selectEmoji=(action "selectEmoji")}}
    </div>

    <div>
        <p class="typing-results">
            Typing results: {{emoji-parse value ascii=true}}
        </p>
        {{textarea value=value}}
        {{emoji-autocomplete}}
    </div>
</div>
